:root {
  --spacer: 1.5rem;

  --clr-orange-100: #FFDECD;  
  --clr-orange-500: #ff6600;
  --clr-black: #101010;
  --clr-gray: #e0e0e0;
  --clr-white: #fffffe;

  --shadow-8dp: 0 8px 10px rgba(0, 0, 0, 0.1), 0 3px 14px rgba(0, 0, 0, 0.1),
    0 4px 5px rgba(0, 0, 0, 0.1);
}

/* Z-INDEX 

whatsapp: 1500
footer: 1001
header: 1000
main: 500
background: 1

*/

/* DEVICES WIDTH 
Mobile Devices <= 600px s
Tablet Devices > 600px m
Desktop Devices > 992px l
Large Desktop Devices > 1200px xl
*/

/* --- GENERAL ---- */
/* #region */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus  {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-black);
  font-family: "Lato", sans-serif;
  background: var(--clr-white);
  overflow: hidden;
  height: 100%;
  position: relative;
}

main {
  position: relative;
  z-index: 500;
}

section {
  padding: 3.75rem 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}



/* #endregion */

/* --- TEXT --- */
/* #region */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: clamp(2.125rem, 10vw, 5.375rem);
}

h2 {
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

h3 {
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  line-height: 1.35em;
}

h6 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.0094em;
}

.text-body-1 {
  font-weight: 400;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  letter-spacing: 0.0313em;
  line-height: 1.5625em;
}

.text-body-2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0156em;
}

.text-caption {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025em;
}

.text--center {
  text-align: center;
}

.text--orange {
  color: var(--clr-orange-500);
}

@media (max-width: 749px) {
  .text--bold-xs {
    font-weight: 700;
  }
}

@media (min-width: 750px) {
  h1 {
    font-weight: 400;
    font-size: clamp(2.125rem, 6vw, 5.375rem);
  }
  .text-caption {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0156em;
  }
}
/* #endregion */

/* --- UTILITY --- */
/* #region */

.flow-content > * + * {
  margin-top: var(--flow-space, calc(var(--spacer) * 1.25));
}

.flow-content--s {
  --flow-space: 1rem;
}

.flow-content--l {
  --flow-space: 5rem;
}

.split {
  display: flex;
  flex-direction: column-reverse;
}

.split > * + * {
  margin: var(--spacer) 0 0 0;
}

.br--m, .br--l, .br--xl {
  display: none;
}

@media (max-width: 749px) {
  .container-xs {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 750px) {
  .split {
    flex-direction: row;
  }
  .split > * + * {
    margin: 0 0 0 var(--split-space, var(--spacer));
  }
  .split--l {
    --split-space: 4rem;
  }
  .flow-content > * + * {
    margin-top: var(--flow-space, calc(var(--spacer) * 1.75));
  }

  .br--s {
    display: none;
  }

  .br--m {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .br--xl {
    display: inline;
  }
}
/* #endregion */

/* --- BUTTONS --- */
/* #region */

.btn {
  display: inline-block;
  font-size: var(--fs, 1.125rem);
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: var(--p, 0.8em 2em);
  border-radius: 200px;
  color: var(--fg, var(--clr-white));
  background: var(--bg, var(--clr-orange-500));
  border: 2px solid var(--border, var(--clr-orange-500));
}

.btn:hover {
  background: var(--fg, none);
  color: var(--bg, var(--clr-orange-500));
}

.btn--sm {
  --fs: 0.75rem;
  --p: 0.8em 1em;
}

.btn--l {
  --p: 0.6em 2.5em;
}

.btn--outlined {
  --fg: var(--color-inverted, var(--clr-orange-500));
  --bg: var(--bg-inverted, var(--clr-white));
  --border: var(--border-inverted, var(--clr-orange-500));
}

.btn--disabled {
  --bg: var(--clr-orange-100);
  --border: var(--clr-orange-100);
}

@media (max-width: 749px) {
  .btn--inverted {
    --color-inverted: var(--clr-white);
    --border-inverted: var(--clr-white);
    --bg-inverted: var(--clr-orange-500);
  }
  .btn--block {
    --fs: 0.9375rem;
    --p: 0.6em 0;
    width: 100%;
  }
}

@media (min-width: 750px) {
  .btn--sm {
    --fs: 0.8125rem;
    --p: 0.8em 3em;
  }
}
/* #endregion */

/* --- SLIDERS --- */
/* #region */

.arrow-next-svg,
.arrow-prev-svg {
  width: 39px;
  height: 39px;
  --fill: var(--clr-orange-500);
  --arrow: var(--clr-white);
  
}

.arrow-next-svg:hover {
  --fill: white;
  --arrow: var(--clr-orange-500);
  transition: fill 1s ease;
}


/* #endregion */

/* --- LOADING --- */
/* #region */

.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2000;
  background: var(--clr-orange-500);
  padding: 5em;
  color: var(--clr-white);
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-logo-svg {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

/* #endregion */

/* --- HEADER --- */
/* #region */

header {
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.1);
  background: var(--clr-orange-500);
  z-index: 1000;
}

#logo-svg {
  width: 80px;
  fill: var(--clr-white);
}

.header-buttons {
  display: flex;
  align-items: center;
}

#header-hr {
  margin: 0 2em;
  border-left: 2px solid var(--clr-gray);
  height: 50px;
}

#signin-btn,
#header-hr {
  display: none;
}

#register-btn-750 {
  display: none;
}

@media (min-width: 750px) {
  header {
    padding: 0 3em;
    background: var(--clr-white);
  }
  #logo-svg {
    width: 100px;
    fill: var(--clr-orange-500);
  }
  #signin-btn,
  #header-hr {
    display: inline-block;
  }
  #register-btn {
    display: none
  }
  #register-btn-750 {
    display: inline-block
  }
}
/* #endregion */

/* --- HERO --- */
/* #region */

.hero {
  padding-top: 0;
}

.hero-content {
  visibility: hidden;
}

.hero-image {
  visibility: hidden;
  align-self: flex-end;
  margin-top: 0;
  position: relative;
  width: 100%;
}

#hero-photo-png {
  width: 80%;
  height: 100vw;
  margin-left: auto;
  background-image: url(../assets/img/HeroImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top calc(-10px - 2vw);
}

#hero-tube-png {
  position: absolute;
  width: 75%;
  height: 50vw;
  left: 20%;
  background-image: url(../assets/img/tube.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: left 0 bottom 0;
  z-index: -1;
}

#hero-tent-png {
  position: absolute;
  width: 30vw;
  height: 30vw;
  bottom: calc(5% + 5vw);
  left: 5vw;
  background-image: url(../assets/img/Tent.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

/* @media (max-width:900px) and (min-width:400px) */

@media (min-width: 750px) {
  .hero {
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
  }
  .hero-content {
    padding: 2vw 0 0 calc(25vw  - 220px);
    width: 65%;
  }

  .hero-image {
    width: 35%;
  }
  #hero-photo-png {
    width: 100%;
    height: 50vw;
    margin-left: 0;
    background-position: left 0 bottom 0;
    background-size: 170%;
  }
  
  #hero-tube-png {
    width: 100%;
    height: 25vw;
    left: 0;
    background-size: 250%;
  }
  
  #hero-tent-png {
    width: 15vw;
    height: 15vw;
    bottom: 7%;
    left: -6vw;
  }
}

@media (min-width: 1500px) {

  .hero-content {
    width: 55%;
  }

  .hero-image {
    width: 45%;
  }

  #hero-photo-png {
    
    height: 50vw;
    margin-left: 0;
    background-position: left 0 bottom 5vw;
    background-size: 130%;
  }
}
/* #endregion */

/* --- FEATURES --- */
/* #region */

.features-img {
 
}

#cellphone-desktop-img {
  background-image: url(../assets/img/Cellphone.png);
  display: none;
}

#cellphone-mobile-img {
  background-image: url(../assets/img/CellphoneMobile.png);
}

.cellphone-mobile-img {
  position: absolute;
  width: 100%;
  min-height: 550px;
  height: 160vw;
  margin-top: -14vw;
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: calc(100% - 7.7vw) calc(100% - 20px);
  z-index: 1;
  pointer-events: none;
}

.cellphone-slider-container {
  width: 50%;
  margin: 26.5vw auto 50px auto;
}

@media (max-width: 320px ) {
  .cellphone-slider-container {
    width: 50%;
    margin: 37vw auto 50px auto;
  }
}

.features-content {
  position: relative;
}

#tns4-ow {
  display: none;
}

.features-slider-1280-buttons {
  display: none;
  position: absolute;
  top: 50%;
  left: -4rem;
  z-index: 1;
}

.features-slider {
  margin: 0 auto;
  padding: 1rem 7.5% 1rem 7.5%;
}

.feature {
  padding: 1.5em 2em 0 1.5em;
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow-8dp);
  min-height: 260px;
}

.feature > * + * {
  margin-top: 1rem;
}

.features .tns-nav {
  text-align: center;
}

#gestion-svg,
#menu-digital-svg,
#pagos-svg,
#menu-visible-svg,
#soporte-svg,
#incremento-svg,
#fidelizacion-svg,
#tiempos-svg {
  width: 50px;
  height: 50px;
  fill: var(--clr-orange-500);
}



@media (min-width: 750px) {

  #cellphone-mobile-img {
    display: none;
  }

  #cellphone-desktop-img {
    display: block;
  }

  .features-img {
    width: 35%;
  }

  .cellphone-mobile-img {
    width: 35%;
    height: 55vw;
    background-position: 100% 100%;
    margin-top: -10vw;
  }

  .cellphone-slider-container {
    width: 50%;
    margin: 5.5vw 0 50px 32.5%;
  }

  button[type=button][data-action=stop] {
    display: none;
  }

  .features-content {
    width: 55%;
    margin-top: 4rem;
  }

  #tns4-ow {
    display: inline;
  }

  #tns4-ow .tns-nav {
    margin-left: -30px;
  }

  #tns4-iw {
    margin-top: 3rem;
  }

  .features-slider-1280-buttons {
    display: flex;
    width: 115%;
    justify-content: space-between;
  }

  #tns3-ow {
    display: none;
  }

}

@media (min-width: 1000px) {
  
}

@media (min-width: 1900px) {
}


/* #endregion */

/* --- BACKOFFICE --- */
/* #region */

.backoffice > h2 {
  font-size: 1.25rem;
}
.backoffice-slider-container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.backoffice-slides-container {
  position: absolute;
  width: 70%;
  top: 6vw;
  left: 50%;
  margin-left: -35%;
}

.backoffice-slide {
  height: 100%;
}

.backoffice-slider-buttons {
  display: flex;
  width: 110%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55%;
  z-index: 1;
}

#backoffice-next-svg {
  transform: rotate(180deg);
}

#backoffice-next-svg,
#backoffice-prev-svg {
  width: 39px;
  height: 39px;
}

@media (min-width: 750px) {
  .backoffice > h2 {
    font-size: 3rem;
  }

  .backoffice-slider-container {
    width: 65%;
  }
  .backoffice-slides-container {
    top: 5vw;
  }
  #tns2-ow .tns-nav {
    margin-top: 3rem;
  }
}

@media (min-width: 1900px) {
  .backoffice-slides-container {
    width: 67%;
  }
}

/* #endregion */

/* --- TESTIMONIALS --- */
/* #region */

.testimonials-content {
  width: 70%;
  margin: 2rem auto;
  padding: 1.5em;
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow-8dp);
  overflow: hidden;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.comillas-svg {
  width: 28px;
  height: 24px;
  fill: var(--clr-orange-500);
  transition: all .2s ease-in-out;
}

.testimonial:focus {
  outline: none;
}

@media (min-width: 900px) {
  .testimonials-content {
    width: 100%;
    background: none;
    box-shadow: none;
    overflow: visible;
  }
  .testimonial-slider {
    width: 92%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: flex-start;
  }
  .testimonial {
    position: relative;
    flex: 1 1 0px;
    padding: 1.5em 1.5em 2.2em 1.5em;
    background: white;
    border-radius: 10px;
    box-shadow: var(--shadow-8dp);
  }
  .testimonial:hover > .comillas-svg {
    transform: scale(1.5);
  }
  #testimonial-2,
  #testimonial-3 {
    margin-left: 3rem;
  }
  #testimonial-1 {
    margin-top: 75px;
  }
  #testimonial-1::before {
    display: block;
    position: absolute;
    content: " ";
    background: url("../assets/img/Miscelanea.svg");
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
    top: -1.5rem;
    left: -1.5rem;
    z-index: -1;
  }
  #testimonial-3 {
    margin-top: 85px;
  }
  #testimonial-3::after {
    display: block;
    position: absolute;
    content: " ";
    background: url("../assets/img/Miscelanea.svg");
    background-size: 75px 75px;
    transform: rotate(180deg);
    width: 75px;
    height: 75px;
    bottom: -1.5rem;
    right: -1.5rem;
  }
}
/* #endregion */

/* --- FOOTER --- */
/* #region */

footer {
  position: relative;
  padding: 1.5rem 0;
  background: var(--clr-black);
  color: var(--clr-white);
  border-top-right-radius: 60px;
  z-index: 1001;
}

footer a:hover {
  color: var(--clr-orange-500);
}

#footer-horizontal-hr {
  margin: 1.5em auto;
  border-top: 1px solid var(--clr-gray);
  width: 50px;
}

.footer-text > * + * {
  margin-top: 1.5em;
}

#logo-v-svg {
  height: 32px;
  width: 28px;
  margin: 0 auto;
  order: 1;
}

.footer-vertical-hr {
  display: none;
}

@media (min-width: 750px) {
  footer {
    justify-content: space-between;
    padding: 1.5rem 6.25rem;
  }
  #logo-v-svg {
    margin: 0;
    order: 0;
  }
  .footer-text {
    display: flex;
    align-items: center;
  }
  .footer-text > * + * {
    margin-top: 0;
    margin-left: 1.5em;
  }
  #footer-horizontal-hr {
    display: none;
  }
  .footer-vertical-hr {
    display: inline;
    border-left: 1px solid var(--clr-white);
    height: 42px;
  }
}

/* #endregion */

/* --- MODAL --- */
/* #region */

#modal-container {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease opacity;
}

.modal-form {
  position: relative;
  width: 87%;
  margin: 1.2rem auto;
  padding: 3rem 1.6rem;
  background: var(--clr-white);
  border-radius: 10px;
  box-shadow: var(--shadow-8dp);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--clr-orange-500);
}

.close-button-svg {
  width: 16px;
  height: 15px;
}

@media (max-width: 750px) {
  .modal-form > .register-form-header > h3 {
    font-size: 6vw;
  }
}
/* #endregion */

/* --- BACKGROUND --- */
/* #region */

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.background::before {
  content: "";
  position: absolute;
  width: 100%;
	height: 100%;
  background: url("../assets/img/Background-figure.svg");
  background-repeat: no-repeat;
  /* background-position: -4200px 2700px; */
  background-position: 50% 10%;
  /* animation: animatedBackground 5s linear 0s infinite; */
}

@keyframes animatedBackground {
  from { background-position:-4200px 2700px; }
  to  { background-position: 1100px -2600px; }
}

.background2 {
  position: absolute;
  overflow: hidden;
  width: 75%;
  height: 35%;
  z-index: 2;
  
}

.background2::before {
  content: "";
  position: absolute;
  width: 100%;
	height: 100%;
  background: url("../assets/img/Background-figure.svg");
  background-repeat: no-repeat;
  /* background-position: -2000px 50px; */
  background-position: -2300px 50px;
  background-size: 250%;
  
  /* background-position: 300px -2250px; */
  /* animation: animatedBackground2 5s linear 0s infinite; */
}

/* @keyframes animatedBackground2 {
  from { background-position:-2000px 350px; }
  to  { background-position: 600px -2250px; }
} */

.background3 {
  position: absolute;
  overflow: hidden;
  width: 75%;
  height: 35%;
  z-index: 3;
  
}

.background3::before {
  content: "";
  position: absolute;
  width: 100%;
	height: 100%;
  background: url("../assets/img/tube-texture.svg");
  background-repeat: no-repeat;
  background-position: -1700px 450px;
  background-size: 150%;
  opacity: 1;
  background-blend-mode: multiply;
  animation: animatedBackground3 5s linear 0s infinite;
}

@keyframes animatedBackground3 {
  from { background-position:-1500px 250px; }
  to  { background-position: 500px -1750px; }
}

@media (min-width: 1200px) {
  /* @keyframes animatedBackground2 {
    from { background-position:-2700px 550px; }
    to  { background-position: 500px -2650px; }
  } */
  /* @keyframes animatedBackground3 {
    from { background-position:-2700px 550px; }
    to  { background-position: 500px -2650px; }
  } */
}

@media (min-width: 1900px) {
  /* @keyframes animatedBackground2 {
    from { background-position:-4000px 850px; }
    to  { background-position: 500px -3650px; }
  } */
  @keyframes animatedBackground3 {
    from { background-position:-1750px 250px; }
    to  { background-position: 250px -1750px; }
  }
  .background2::before {
    background-position: -3000px 0px;
  }
}
/* #endregion */

/* --- WHATSAPP --- */
/* #region */

.whatsapp {
  position: fixed;
  z-index: 1500;
  bottom: var(--spacer);
  right: var(--spacer);
  opacity: 0;
  transition: 1s ease opacity;
}

#whatsapp-svg {
  width: 56px;
  height: 56px;
}
/* #endregion */

/* --- REGISTER --- */
/* #region */
.register-body {
  display: flex;
  overflow-y: auto;
  position: relative;
  background: url("../assets/img/Background-figure.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
}

.register-background {
  width: 100%;
  height: 15rem;
  background: var(--clr-orange-500);
  position: absolute;
  z-index: -1;
}

.register-main > p {
  margin-top: 2rem;
}

.register-form-header {
  margin-bottom: 3.625rem;
}

.logo-register-svg {
  width: 130px;
  height: 60px;
  fill: var(--clr-orange-500);
}

.register-checkbox {
  text-align: left;
}

.register-form p:last-of-type {
  font-size: 0.625rem;
  letter-spacing: 0.025rem;
  line-height: 1rem;
  margin: 3.75rem 0 1.25rem 0;
}

input[type=submit] {
  font-family: 'Lato', sans-serif;
  padding: 0.6em 4em
}

.field > .alert {
  color: rgb(230, 61, 49);
  font-size: .75rem;
  text-align: left;
  position: absolute;
}

@media (min-width: 750px) {
  .register-main {
    position: relative;
    background: white;
    margin: 6rem auto;
    padding: 3rem 5.625rem;
    width: 70%;
    max-width: 720px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: var(--shadow-8dp);
    z-index: 1;
  }
}

/* #endregion */
